@model VendorsQueryModel

@{
    ViewBag.Title = "Vendors";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <div class="row mt-3 mb-3">
            <form asp-action="All" method="get" class="col-md-9">
                <div class="form-actions">
                    <input type="text" name="SearchString" class="col-md-7" value="@Model.SearchString" placeholder="Search by Name or VAT..." />
                    <input type="submit" class="btn btn-primary" value="Search" />
                    <a asp-action="All" class="btn btn-primary">Full List</a>
                </div>
            </form>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-action="All"
                           asp-route-sortOrder="@(String.IsNullOrEmpty(Model.SortOrder) ? "name_desc" : "")"
                           asp-route-searchString="@Model.SearchString">
                            Name
                        </a>
                    </th>
                    <th>
                        <a asp-action="All"
                           asp-route-sortOrder="@(Model.SortOrder == "vat" ? "vat_desc" : "vat")"
                           asp-route-searchString="@Model.SearchString">
                            VAT
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vendor in Model.Vendors)
                {
                    <tr>
                        <td>@vendor.Name</td>
                        <td>@vendor.Vat</td>
                        <td class="text-right">
                            <div class="button-holder">
                                <a asp-action="Details"
                                   asp-route-sortOrder="@Model.SortOrder"
                                   asp-route-currentPage="@Model.CurrentPage"
                                   asp-route-searchString="@Model.SearchString"
                                   asp-route-id="@vendor.Id"
                                   class="btn btn-primary">
                                    Details
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (!Model.Vendors.Any())
        {
            <h4 class="text-center">No vendors found for the given criteria!</h4>
        }

        <partial name="_PaginationPartial" model="@Model" />
    </div>
</div>