@model PaginatedList<VendorListingViewModel>

@{
    ViewBag.Title = "Vendors";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin">@ViewBag.Title</h2>
        <div class="row mt-3 mb-3">
            <form asp-action="All" method="get" class="col-md-9">
                <div class="form-actions">
                    <input type="text" name="SearchString" class="col-md-7" value="@ViewData["CurrentFilter"]" placeholder="Search by Name or VAT..." />
                    <input type="submit" class="btn btn-primary" value="Search" />
                    <a asp-action="All" class="btn btn-primary">Full List</a>
                </div>
            </form>
            <div class="button-holder col-md-3">
                <a asp-action="Add" class="btn btn-primary">Create New</a>
            </div>
        </div>
        <div class="row mt-1 mb-2">

        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-action="All"
                           asp-route-sortOrder="@ViewData["NameSortParm"]" 
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            Name
                        </a>
                    </th>
                    <th>
                        <a asp-action="All" 
                           asp-route-sortOrder="@ViewData["VatSortParm"]" 
                           asp-route-currentFilter="@ViewData["CurrentFilter"]">
                            VAT
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vendor in Model)
                {
                    <tr>
                        <td>@vendor.Name</td>
                        <td>@vendor.Vat</td>
                        <td class="text-right">
                            <div class="button-holder">
                                <a asp-action="Details"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-pageNumber="@(Model.PageIndex)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   asp-route-id="@vendor.Id" 
                                   class="btn btn-primary">
                                Details
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row mt-3 mb-3">
            <a asp-action="All"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-link @prevDisabled">
                << Previous
            </a>
            <a asp-action="All"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="btn btn-link @nextDisabled">
                Next >>
            </a>
        </div>
    </div>
</div>