@model VendorEditModel

@{
    ViewBag.Title = "Edit Vendor";
}

<div class="row bg-danger text-white">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin">@ViewBag.Title</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-white"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat"></label>
                <input asp-for="Vat" class="form-control">
                <span asp-validation-for="Vat" class="small text-white"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone"></label>
                <input asp-for="Telephone" class="form-control">
                <span asp-validation-for="Telephone" class="small text-white"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="small text-white"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <textarea asp-for="Address" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Address" class="small text-white"></span>
            </div>
            <div class="button-holder">
                <button type="submit" class="btn btn-primary float-right">Save</button>
            </div>
            <div class="button-holder">
                <a asp-action="Details"
                   asp-route-id="@Model.Id"
                   asp-route-sortOrder="@Model.SortOrder"
                   asp-route-searchString="@Model.SearchString"
                   asp-route-currentPage="@Model.CurrentPage"
                   class="btn btn-primary float-md-left">
                    << Back
                </a>
            </div>
        </form>
    </div>
</div>