@model StatusesQueryModel

@{
    ViewBag.Title = "Statuses";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>
        <div class="row mt-3 mb-3">
            <form asp-action="All" method="get" class="col-md-9">
                <div class="form-actions">
                    <input type="text" name="SearchString" class="col-md-7" value="@Model.SearchString" placeholder="Search by Name..." />
                    <input type="submit" class="btn btn-primary" value="Search" />
                    <a asp-action="All" class="btn btn-primary">Full List</a>
                </div>
            </form>
            <div class="button-holder col-md-3">
                <a asp-action="Add" class="btn btn-primary">Create New</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <a asp-action="All"
                           asp-route-sortOrder="@(String.IsNullOrEmpty(Model.SortOrder) ? "name_desc" : "")"
                           asp-route-searchString="@Model.SearchString">
                            Name
                        </a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var status in Model.Statuses)
                {
                    <tr>
                        <td>@status.Name</td>
                        <td class="text-right">
                            <div class="button-holder">
                                <a asp-action="Edit"
                                   asp-route-id="@status.Id"
                                   asp-route-searchString="@Model.SearchString"
                                   asp-route-sortOrder="@Model.SortOrder"
                                   asp-route-currentPage="@Model.CurrentPage"
                                   class="btn btn-primary">
                                    Edit
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <div class="row mt-2 mb-2 offset-md-3">
            <a asp-action="All"
               asp-route-sortOrder="@Model.SortOrder"
               asp-route-currentPage="@(Model.CurrentPage - 1)"
               asp-route-searchString="@Model.SearchString"
               class="btn btn-link @prevDisabled">
                << Previous
            </a>
            <a asp-action="All"
               asp-route-sortOrder="@Model.SortOrder"
               asp-route-currentPage="@(Model.CurrentPage + 1)"
               asp-route-searchString="@Model.SearchString"
               class="btn btn-link @nextDisabled">
                Next >>
            </a>
        </div>
    </div>
</div>