@model AssetModelDetailsServiceModel

@{
    ViewBag.Title = "Model Details";
}

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="page-header text-center">
                    <h2 id="tables">Details for: </h2>
                    <h2 class="font-weight-bold font-italic">@Model.Category @Model.Brand @Model.Name</h2>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead class=" table-active">
                            <tr>
                                <th scope="col" class="text-center">Image</th>
                                <th class="text-center">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light">
                                <td>
                                    <img class="card-img-top" src="@Model.ImageUrl">
                                </td>
                                <td>@Model.Details</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-holder">
                        <a asp-controller="@ViewBag.RefererController"
                           asp-action="@ViewBag.RefererAction"
                           asp-route-sortOrder="@Model.SortOrder"
                           asp-route-searchString="@Model.SearchString"
                           asp-route-currentPage="@Model.CurrentPage"
                           class="btn btn-primary float-md-left">
                            Back
                        </a>
                    </div>
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="button-holder">
                            <a asp-action="Edit"
                               asp-route-id="@Model.Id"
                               asp-route-sortOrder="@Model.SortOrder"
                               asp-route-searchString="@Model.SearchString"
                               asp-route-currentPage="@Model.CurrentPage"
                               class="btn btn-warning float-md-right">
                                Edit
                            </a>
                        </div>
                        @if (!Model.IsInUse)
                        {
                            ViewData["DataTarget"] = "Model";
                            ViewData["TargetId"] = Model.Id;
                            ViewData["SearchString"] = Model.SearchString;
                            ViewData["SortOrder"] = Model.SortOrder;
                            ViewData["CurrentPage"] = Model.CurrentPage;

                            <div class="button-holder">
                                <button type="button" class="btn btn-danger float-md-right" data-toggle="modal" data-target="#@ViewData["DataTarget"]_Delete_@ViewData["TargetId"]" data-id="@ViewData["TargetId"]">
                                    Delete
                                </button>
                            </div>
                            <partial name="_DeleteConfirmationPartial" />
                        }
                    }
                    <div class="button-holder">
                        <a asp-controller="Requests"
                           asp-action="Submit"
                           asp-route-assetModelId="@Model.Id"
                           class="btn btn-primary float-md-right">
                            Request
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>