@model RequestQueryServiceModel

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th>User</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Submit Date</th>
            <th>Complete Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.Requests)
        {
            <tr>
                <td>@request.Id</td>
                <td>@request.User</td>
                <td>@request.Brand</td>
                <td>@request.Model</td>
                <td>@request.SubmissionDate</td>
                <td>@request.CompletionDate</td>
                <td>@request.Status</td>
                <td>
                    @if (!request.IsCompleted)
                    {
                        <div class="button-holder col-md-3">
                            <a asp-action="Approve"
                               asp-route-id="@request.Id"
                               asp-route-searchString="@Model.SearchString"
                               asp-route-currentPage="@Model.CurrentPage"
                               class="btn btn-success">
                                Approve
                            </a>
                        </div>
                        <div class="button-holder col-md-3">
                            <a asp-action="Reject"
                               asp-route-id="@request.Id"
                               asp-route-searchString="@Model.SearchString"
                               asp-route-currentPage="@Model.CurrentPage"
                               class="btn btn-danger">
                                Reject
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="button-holder col-md-3">
                            <a asp-action="Approve"
                               asp-route-id="@request.Id"
                               asp-route-searchString="@Model.SearchString"
                               asp-route-currentPage="@Model.CurrentPage"
                               class="btn btn-primary">
                                Details
                            </a>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
